
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel" data-translate="hispterstoreApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.product.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.product.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hispterstoreApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.product.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hispterstoreApp.product.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.product.description"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.product)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="hispterstoreApp.product.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.product.imageContentType + ';base64,' + vm.product.image}}" style="max-height: 100px;" ng-if="vm.product.image"/>
                <div ng-if="vm.product.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.product.imageContentType}}, {{vm.byteSize(vm.product.image)}}</span>
                    <button type="button" ng-click="vm.product.image=null;vm.product.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.product)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.product.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.product.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hispterstoreApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.product.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hispterstoreApp.product.size" for="field_size">Size</label>
            <select class="form-control" name="size" ng-model="vm.product.size" id="field_size">
                <option value="S" data-translate="hispterstoreApp.Size.S">S</option>
                <option value="M" data-translate="hispterstoreApp.Size.M">M</option>
                <option value="L" data-translate="hispterstoreApp.Size.L">L</option>
                <option value="XL" data-translate="hispterstoreApp.Size.XL">XL</option>
                <option value="XXL" data-translate="hispterstoreApp.Size.XXL">XXL</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="hispterstoreApp.product.subcategory" for="field_subcategory">Subcategory</label>
            <select class="form-control" id="field_subcategory" multiple name="subcategory" ng-model="vm.product.subcategories" ng-options="subCategory as subCategory.name for subCategory in vm.subcategories track by subCategory.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="hispterstoreApp.product.brand" for="field_brand">Brand</label>
            <select class="form-control" id="field_brand" name="brand" ng-model="vm.product.brand" ng-options="brand as brand.brandName for brand in vm.brands track by brand.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
