<div>
    <h2 data-translate="hispterstoreApp.product.home.title">Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="product.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hispterstoreApp.product.home.createLabel">
                        Create new Product
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hispterstoreApp.product.name">Name</span></th>
                    <th><span data-translate="hispterstoreApp.product.description">Description</span></th>
                    <th><span data-translate="hispterstoreApp.product.image">Image</span></th>
                    <th><span data-translate="hispterstoreApp.product.price">Price</span></th>
                    <th><span data-translate="hispterstoreApp.product.size">Size</span></th>
                    <th><span data-translate="hispterstoreApp.product.subcategory">Subcategory</span></th>
                    <th><span data-translate="hispterstoreApp.product.brand">Brand</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products track by product.id">
                    <td><a ui-sref="product-detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <a ng-if="product.image" ng-click="vm.openFile(product.imageContentType, product.image)">
                            <img data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="product.image">{{product.imageContentType}}, {{vm.byteSize(product.image)}}</span>
                    </td>
                    <td>{{product.price}}</td>
                    <td data-translate="{{'hispterstoreApp.Size.' + product.size}}">{{product.size}}</td>
                    <td>
                        <span ng-repeat="subcategory in product.subcategories">
                            <a class="form-control-static" ui-sref="sub-category-detail({id: subcategory.id})">{{subcategory.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="brand-detail({id:product.brand.id})">{{product.brand.brandName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-detail({id:product.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.edit({id:product.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.delete({id:product.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
